<!-- Add task -->
<div class="row my-3">
  <div class="col-auto">
    <button (click)="submitTodo(inputTodo.value)" class="btn btn-dark">
      <fa-icon id="plus" [icon]="faPlus"></fa-icon>
    </button>
  </div>
  <!-- input Column -->
  <div class="col">
    <input
      class="form-control form-control-lg"
      #inputTodo
      type="text"
      [(ngModel)]="emptyInput"
      placeholder="Add task"
    />
  </div>
</div>
<!-- Tasks -->
<div class="row">
  <div class="my-3">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let task of tasks">
        <div class="form-check">
          <input
            (change)="checkTodo(task.id)"
            type="checkbox"
            class="form-check-input my-2"
            value=""
            id="flexCheckDefault"
          />
          <span class="task-item mx-2 align-middle">{{ task.name }}</span>
          <!-- Delete button -->
          <button
            #delBtn
            (click)="delTask(task.id)"
            id="delButton"
            class="btn btn-danger"
          >
            X
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Testing -->
<div class="input-group">
  <input
    type="text"
    class="form-control"
    aria-label="Text input with dropdown button"
  />
  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Date
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Today</a>
      <a class="dropdown-item" href="#">Tomorrow</a>
      <a class="dropdown-item" href="#">This weekend</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Next week</a>
    </div>
  </div>
</div>
