<div class="row my-3">
  <div class="col-auto">
    <button (click)="submitTodo(inputTodo.value)" class="btn btn-dark">
      +
    </button>
  </div>
  <div class="col">
    <input
      class="form-control"
      #inputTodo
      type="text"
      [(ngModel)]="emptyInput"
      placeholder="Add task"
    />
  </div>
</div>

<div class="my-3">
  <ul class="list-group">
    <ng-container>
      <li class="list-group-item" *ngFor="let task of tasks">
        <input
          (change)="checkTodo(task.id)"
          type="checkbox"
          class="form-check-input"
          value=""
          id="flexCheckDefault"
        />

        {{ task.name }}

        <button
          #delBtn
          (click)="delTask(task.id)"
          id="delButton"
          class="btn btn-danger"
        >
          X
        </button>
      </li>
    </ng-container>
  </ul>
</div>
