<input
  class="form-control my-3"
  #inputTodo
  type="text"
  [(ngModel)]="emptyInput"
/>
<button (click)="submitTodo(inputTodo.value)" class="btn btn-primary">
  submit
</button>

<div class="my-3">
  <ul class="list-group">
    <ng-container>
      <li class="list-group-item" *ngFor="let doneTask of tasks">
        <input
          (change)="checkTodo(doneTask.id)"
          type="checkbox"
          class="form-check-input"
          value=""
          id="flexCheckDefault"
        />

        {{ doneTask.name }}

        <button
          #delBtn
          (click)="delRequest(doneTask.id)"
          id="delButton"
          class="btn btn-danger"
        >
          X
        </button>
      </li>
    </ng-container>
  </ul>
</div>
